---
- name: Check if node is already joined
  stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubelet_conf

- name: Get join command from primary control plane
  set_fact:
    join_command: "{{ hostvars[groups['primary_control_plane'][0]]['kubeadm_join_command'] }}"
  when: not kubelet_conf.stat.exists

- name: Join worker node to cluster
  command: "{{ join_command }}"
  when:
    - not kubelet_conf.stat.exists
    - join_command is defined
